
body {
  background-color: #b5c8db;
  font-family: 'Segoe UI', sans-serif;
  color: #212529;
  
  background: linear-gradient(135deg, #daf2f6, #3e454f);
  
}


.img-fluid {
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


.container h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.container p {
  line-height: 1.7;
  text-align: justify;
}


.card {
  border: none;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
}


.btn-outline-primary {
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: #fff;
  transform: scale(1.05);
}




@media (max-width: 767px) {
  .container .row {
    flex-direction: column;
  }
}
